<%- include("partials/header") -%>

<img src="/images/profilkep-modified.png" alt="Picture of me" class="img-rounded profile">
<h1>About Me</h1>
<p>
  I always had a PC since I was a child. I mostly used it to play games, so my first interest for programming came at the age of 14.
  When I tried to program some games with the help of my cousin. At that age it was more boresome then playing a game so I went to a different way.
  There are things we need to grow up for I guess. Then music came into picture, when I started playing the guitar. I wanted to become the best guitarist
  in the world so I played the guitar in all my free time and went from teacher to teacher for more and more knowledge. And this took 15 years, but I didn't
  became the best, but learned a lot of music and played around 10 instruments on some level.
</p>
<p>
  Meanwhile I finished my studies on the University as a bachleor of Communication and Media. I never was into media so I specilized for PR and marketing
  and my thesis was about Music marketing in Hungary. I researched how can musicans be successful here, how it is working and got some unexpected results,
  like there is no distributor sector here, so talents are more or less on their own to do the bussiness part, not only the artistic part of writing songs
  and making shows.
</p>
<p>
  After the University, I went to my father's company, because I was needed there and I wanted to know if I fit that job or not. The company is about constucting
  metal parts and has an own product an automated chip wood furnace system. I learned about metalworks in highschool so I had some basic knowledge about it.
  The most interesting part of this job was developing a new type of controller for the heat system. At that time I had no programming skills so I was kind of
  like a product owner there who was spoken with the two people who had the knowledge for the mechanical, electrical and programming part. But meanwhile I got
  a job opportunity in an instrument shop what seemed more interesting for me, so I left. Sadly the new product died with my leave because there was noone to
  take that communication role that I did by myself.
</p>
<p>
  The instrument shop was quite fun and I enjoyed it a lot. But meanwhile I started to find interest in programming and I had to decide. Start the bootcamp,
  and loose that job, but become a programmer or let go of this dream. But now we all know which was I choose. So I took the leap of faith and jumped into programming.
  And I realised I dropped into a very fascinating universe. I realised I like to code as much as I liked to play games as I was a child. And I also have many
  here that interest me, so I keep going learning them all.
</p>

<%- include("partials/footer") -%>
