<%- include("partials/header"); -%>
<h1>Contact Me</h1>
<p>Check out my <a href="https://github.com/CalenArrna">GitHub</a></p>
<p> Contact me on
  <a href="https://www.linkedin.com/in/csaba-nagy-332aa695/">LinkedIn</a>
</p>
<p>
  Or just drop a mail: job.csaba.nagy@gmail.com
</p>
<%- include("partials/footer"); -%>
